Repository riseupleague/riseupleague, pull requests merged in 2024-07, with the labels that each got.

#387 new login / sign up pages
  apps/admin/actions/players-action.ts
  apps/admin/api-helpers/models/Game.ts
  apps/bball/actions/user-actions.ts
  apps/bball/api-helpers/models/Game.ts
  apps/bball/app/api/auth/[...nextauth]/route.ts
  apps/bball/app/login/loading.tsx
  apps/bball/app/login/page.tsx
  apps/bball/app/page.tsx
  apps/bball/app/signup/loading.tsx
  apps/bball/app/signup/page.tsx
  apps/bball/app/standings/playoffs/loading.tsx
  apps/bball/app/standings/playoffs/page.tsx
  apps/bball/components/auth/Login.tsx
  apps/bball/components/auth/ProfileLink.tsx
  apps/bball/components/auth/SignInDialog.tsx
  apps/bball/components/auth/SignUp.tsx
  apps/bball/components/home/Hero.tsx
  apps/bball/components/home/HomeRegister.tsx
  apps/bball/components/home/SetYourScheduleButton.tsx
  apps/bball/components/login/Login.tsx
  apps/bball/components/playoffs/PlayoffDivisionBracket.tsx
  apps/bball/components/playoffs/PlayoffMatchup.tsx
  apps/bball/components/playoffs/PlayoffPicture.tsx
  apps/bball/components/structure/header/SideNav.tsx
  apps/bball/validation/user-validations.ts
  packages/ui/components/ui/button.tsx
  packages/ui/components/ui/toast.tsx
Labels: bug, bball, p0-urgent

#388 bball@1.4.2
  apps/admin/actions/players-action.ts
  apps/admin/api-helpers/models/Game.ts
  apps/bball/actions/user-actions.ts
  apps/bball/api-helpers/models/Game.ts
  apps/bball/app/api/auth/[...nextauth]/route.ts
  apps/bball/app/login/loading.tsx
  apps/bball/app/login/page.tsx
  apps/bball/app/page.tsx
  apps/bball/app/signup/loading.tsx
  apps/bball/app/signup/page.tsx
  apps/bball/app/standings/playoffs/loading.tsx
  apps/bball/app/standings/playoffs/page.tsx
  apps/bball/components/auth/Login.tsx
  apps/bball/components/auth/ProfileLink.tsx
  apps/bball/components/auth/SignInDialog.tsx
  apps/bball/components/auth/SignUp.tsx
  apps/bball/components/home/Hero.tsx
  apps/bball/components/home/HomeRegister.tsx
  apps/bball/components/home/SetYourScheduleButton.tsx
  apps/bball/components/login/Login.tsx
  apps/bball/components/playoffs/PlayoffDivisionBracket.tsx
  apps/bball/components/playoffs/PlayoffMatchup.tsx
  apps/bball/components/playoffs/PlayoffPicture.tsx
  apps/bball/components/structure/header/SideNav.tsx
  apps/bball/package.json
  apps/bball/validation/user-validations.ts
  packages/ui/components/ui/button.tsx
  packages/ui/components/ui/toast.tsx
Labels: bug, bball, p0-urgent

#405 Full payment price Id quickfix
  apps/bball/components/register/join-team/JoinTeamSummary.tsx
  apps/bball/package.json
Labels: bug, bball, p1-important

#406 my tournament copy fix
  apps/bball/app/(dashboard)/user/tournament/page.tsx
  apps/bball/app/api/checkout-sessions/route.ts
Labels: bug, bball, p2-nice-to-have
