Repository riseupleague/riseupleague, pull requests merged in 2024-03, with the labels that each got.

#259 fix(bball): comment out homepage mvp ladder + league leaders hotfix
  apps/bball/app/page.tsx
  apps/bball/app/register/page.tsx
  apps/bball/package.json
  package-lock.json
Labels: bball, p0-urgent

#266 v1.2.7: remove mvp ladder + leaders temporarily
  apps/bball/components/structure/header/MiddleNav.tsx
  apps/bball/components/structure/header/PrimaryHeader.tsx
  apps/bball/components/structure/header/SideNav.tsx
  apps/bball/lib/data/footerOptions.ts
  apps/bball/package.json
  package-lock.json
Labels: bball, p1-important

#267 v1.2.7
  apps/bball/components/structure/header/MiddleNav.tsx
  apps/bball/components/structure/header/PrimaryHeader.tsx
  apps/bball/components/structure/header/SideNav.tsx
  apps/bball/lib/data/footerOptions.ts
  apps/bball/package.json
  apps/bball/public/images/vball/Instagram.png
  apps/bball/public/images/vball/Yt.png
  apps/bball/public/images/vball/facebook-logo.png
  apps/bball/public/images/vball/fb.png
  apps/bball/public/images/vball/img.png
  apps/bball/public/images/vball/riseup_volleyball.png
  apps/bball/public/images/vball/t.png
  apps/bball/public/images/vball/twit.png
  apps/bball/public/images/vball/twitter.png
  apps/vball/app/layout.tsx
  apps/vball/app/page.tsx
  apps/vball/package.json
  package-lock.json
  packages/ui/components/ui/SocialButton.tsx
Labels: bball, p1-important

#268 v1.2.8 - mobile header hotfix
  apps/bball/app/schedule/page.tsx
  apps/bball/components/general/Breadcrumb.tsx
  apps/bball/components/icons/HomeIcon.tsx
  apps/bball/components/structure/header/PrimaryHeader.tsx
Labels: bug, bball, p0-urgent

#270 registration flow success page change
  apps/bball/components/home/HomeRegister.tsx
  apps/bball/components/register/register-info/RegisterPrice.tsx
  apps/bball/lib/data/home/heroSlides.ts
Labels: enhancement, bball, p1-important

#272 v1.2.10
  apps/bball/api-helpers/models/Division.ts
  apps/bball/app/schedule/page.tsx
  apps/bball/components/general/Breadcrumb.tsx
  apps/bball/components/icons/HomeIcon.tsx
  apps/bball/components/register/register-info/RegisterPrice.tsx
  apps/bball/components/register/register-info/RegisterServices.tsx
  apps/bball/components/structure/header/PrimaryHeader.tsx
  apps/bball/package.json
  package-lock.json
Labels: bug, bball, p0-urgent

#273 v1.2.10
  apps/bball/api-helpers/models/Division.ts
  apps/bball/components/register/register-info/RegisterPrice.tsx
  apps/bball/components/register/register-info/RegisterServices.tsx
  apps/bball/package.json
  package-lock.json
Labels: enhancement, bball, p1-important

#274 bball@1.2.10
  apps/bball/components/register/free-agent/FreeAgentsPlayerType.tsx
  apps/bball/components/register/free-agent/FreeAgentsSummary.tsx
  apps/bball/components/register/register-info/RegisterPrice.tsx
  apps/bball/package.json
  package-lock.json
Labels: bug, bball, p0-urgent

#275 bball@1.2.11
  apps/bball/components/register/free-agent/FreeAgentsPlayerType.tsx
  apps/bball/components/register/free-agent/FreeAgentsSummary.tsx
  apps/bball/components/register/register-info/RegisterPrice.tsx
  apps/bball/package.json
  package-lock.json
Labels: bball, p0-urgent

#279 registration flow success page change
  apps/bball/app/register/free-agent/page.tsx
  apps/bball/components/register/free-agent/FreeAgentsPlayerType.tsx
Labels: enhancement, bball, p1-important

#280 bball@1.2.12
  apps/bball/app/register/free-agent/page.tsx
  apps/bball/components/register/free-agent/FreeAgentsPlayerType.tsx
Labels: bball, p1-important

#281 vball@1.0.0
  apps/vball/actions/submitForm.ts
  apps/vball/app/page.tsx
  apps/vball/components/NewsletterForm.tsx
  apps/vball/components/SocialButton.tsx
  apps/vball/package.json
  package-lock.json
  packages/ui/components/ui/toast.tsx
  turbo.json
Labels: enhancement, vball, p1-important

#282 vball@1.0.0
  apps/vball/actions/submitForm.ts
  apps/vball/app/page.tsx
  apps/vball/components/NewsletterForm.tsx
  apps/vball/components/SocialButton.tsx
  apps/vball/package.json
  package-lock.json
  packages/ui/components/ui/toast.tsx
  turbo.json
Labels: enhancement, vball, p1-important

#284 v1.0.1: newsletter loader + duplicate checker
  apps/bball/api-helpers/controllers/games-controller.ts
  apps/bball/app/error.tsx
  apps/bball/app/players/[id]/page.tsx
  apps/bball/app/schedule/page.tsx
  apps/bball/components/games/NewSchedule.tsx
  apps/bball/components/games/NewScheduleCard.tsx
  apps/bball/components/general/FeaturedPlayerCard.tsx
  apps/bball/components/general/PlayerOfTheGameCard.tsx
  apps/bball/components/icons/CalendarRegisterIcon.tsx
  apps/bball/components/icons/ClockIcon.tsx
  apps/bball/components/icons/HomeIcon.tsx
  apps/vball/actions/submitForm.ts
  apps/vball/components/NewsletterForm.tsx
  apps/vball/components/NewsletterFormButton.tsx
  apps/vball/package.json
  package-lock.json
  package.json
  packages/ui/components/ui/badge.tsx
  packages/ui/components/ui/toast.tsx
  packages/ui/components/ui/toaster.tsx
  packages/ui/tailwind.config.ts
Labels: bug, vball, p1-important

#285 v1.0.1
  apps/bball/api-helpers/controllers/games-controller.ts
  apps/bball/app/error.tsx
  apps/bball/app/players/[id]/page.tsx
  apps/bball/app/schedule/page.tsx
  apps/bball/components/games/NewSchedule.tsx
  apps/bball/components/games/NewScheduleCard.tsx
  apps/bball/components/general/FeaturedPlayerCard.tsx
  apps/bball/components/general/PlayerOfTheGameCard.tsx
  apps/bball/components/icons/CalendarRegisterIcon.tsx
  apps/bball/components/icons/ClockIcon.tsx
  apps/bball/components/icons/HomeIcon.tsx
  apps/vball/actions/submitForm.ts
  apps/vball/components/NewsletterForm.tsx
  apps/vball/components/NewsletterFormButton.tsx
  apps/vball/package.json
  package-lock.json
  package.json
  packages/ui/components/ui/badge.tsx
  packages/ui/components/ui/toast.tsx
  packages/ui/components/ui/toaster.tsx
  packages/ui/tailwind.config.ts
Labels: bug, enhancement, vball, p1-important

#295 force `16px` on inputs; misc UI fixes
  apps/bball/components/register/create-team/CreateTeamSummary.tsx
  apps/bball/components/register/create-team/CustomizeTeam.tsx
  apps/bball/components/register/free-agent/FreeAgentsPlayerType.tsx
  apps/bball/components/register/free-agent/FreeAgentsSummary.tsx
  apps/bball/components/register/join-team/JoinTeamSummary.tsx
  apps/bball/lib/data/home/heroSlides.ts
  apps/bball/package.json
  package-lock.json
  packages/ui/components/ui/input.tsx
Labels: bball

#300 bball@1.3.1
  apps/bball/app/api/webhook/route.ts
  apps/bball/app/page.tsx
  apps/bball/components/home/Hero.tsx
  apps/bball/components/home/HomePlayerOfTheWeekSlider.tsx
  apps/bball/components/home/HomePlayersOfTheWeek.tsx
  apps/bball/components/home/HomeRegister.tsx
  apps/bball/components/home/hero.tsx
  apps/bball/package.json
  apps/bball/public/images/home/early-bird.jpg
  package-lock.json
Labels: enhancement, bball, p2-nice-to-have

#301 New Unique Jerseys
  apps/bball/components/players/player/PointsCircle.tsx
  apps/bball/components/register/custom-jersey/JerseySelection.tsx
  apps/bball/lib/jersey-designs/unique/unique-10.tsx
  apps/bball/lib/jersey-designs/unique/unique-6.tsx
  apps/bball/lib/jersey-designs/unique/unique-7.tsx
  apps/bball/lib/jersey-designs/unique/unique-8.tsx
  apps/bball/lib/jersey-designs/unique/unique-9.tsx
  apps/bball/public/images/jersey/placeholders/unique/unique-10.png
  apps/bball/public/images/jersey/placeholders/unique/unique-6.png
  apps/bball/public/images/jersey/placeholders/unique/unique-7.png
  apps/bball/public/images/jersey/placeholders/unique/unique-8.png
  apps/bball/public/images/jersey/placeholders/unique/unique-9.png
Labels: enhancement, bball, p1-important

#302 bball@1.3.2
  apps/bball/components/players/player/PointsCircle.tsx
  apps/bball/components/register/custom-jersey/JerseySelection.tsx
  apps/bball/lib/jersey-designs/unique/unique-10.tsx
  apps/bball/lib/jersey-designs/unique/unique-6.tsx
  apps/bball/lib/jersey-designs/unique/unique-7.tsx
  apps/bball/lib/jersey-designs/unique/unique-8.tsx
  apps/bball/lib/jersey-designs/unique/unique-9.tsx
  apps/bball/package.json
  apps/bball/public/images/jersey/placeholders/unique/unique-10.png
  apps/bball/public/images/jersey/placeholders/unique/unique-6.png
  apps/bball/public/images/jersey/placeholders/unique/unique-7.png
  apps/bball/public/images/jersey/placeholders/unique/unique-8.png
  apps/bball/public/images/jersey/placeholders/unique/unique-9.png
  package-lock.json
Labels: bball, p2-nice-to-have

#313 general fixes
  apps/admin/api-helpers/models/Game.ts
  apps/admin/app/favicon.ico
  apps/bball/api-helpers/models/Game.ts
  apps/bball/app/favicon.ico
  apps/bball/app/games/preview/[id]/page.tsx
  apps/bball/app/games/summary/[id]/page.tsx
  apps/bball/app/schedule/[id]/page.tsx
  apps/bball/app/schedule/page.tsx
  apps/bball/components/user/UserPlayerInfo.tsx
  apps/vball/app/favicon.ico
  package-lock.json
  packages/tsconfig/nextjs.json
  packages/ui/components/ui/sheet.tsx
  packages/ui/components/ui/toast.tsx
  packages/ui/tsconfig.json
  packages/utils/utils.ts
Labels: bug, enhancement, bball, p1-important

#314 bball@1.3.4
  apps/admin/api-helpers/models/Game.ts
  apps/admin/app/favicon.ico
  apps/bball/api-helpers/models/Game.ts
  apps/bball/app/favicon.ico
  apps/bball/app/games/preview/[id]/page.tsx
  apps/bball/app/games/summary/[id]/page.tsx
  apps/bball/app/schedule/[id]/page.tsx
  apps/bball/app/schedule/page.tsx
  apps/bball/components/user/UserPlayerInfo.tsx
  apps/bball/package.json
  apps/vball/app/favicon.ico
  package-lock.json
  packages/tsconfig/nextjs.json
  packages/ui/components/ui/sheet.tsx
  packages/ui/components/ui/toast.tsx
  packages/ui/tsconfig.json
  packages/utils/utils.ts
Labels: enhancement, bball, p1-important

#318 `/user/player` edit player server action + validation
  apps/bball/actions/player-actions.ts
  apps/bball/app/user/player/page.tsx
  apps/bball/components/user/UserPlayerInfo.tsx
  apps/bball/components/user/UserPlayerJerseyInfo.tsx
  apps/bball/components/user/UserPlayerSeasonInfo.tsx
  apps/bball/package.json
  apps/bball/validation/player-validations.ts
  package-lock.json
Labels: enhancement, bball, p2-nice-to-have

#322 Staging bball
  apps/bball/actions/player-actions.ts
  apps/bball/app/api/checkout-sessions/route.ts
  apps/bball/app/api/webhook/route.ts
  apps/bball/app/games/summary/[id]/page.tsx
  apps/bball/app/page.tsx
  apps/bball/app/register/join-team/[id]/page.tsx
  apps/bball/app/teams/[id]/page.tsx
  apps/bball/app/user/player/page.tsx
  apps/bball/components/games/NewSchedule.tsx
  apps/bball/components/home/Hero.tsx
  apps/bball/components/home/PopUpRegister.tsx
  apps/bball/components/register/RegistrationSuccess.tsx
  apps/bball/components/register/create-team/CreateTeamDetails.tsx
  apps/bball/components/register/create-team/CreateteamSuccess.tsx
  apps/bball/components/register/create-team/CustomizeTeam.tsx
  apps/bball/components/register/join-team/JoinTeamSuccess.tsx
  apps/bball/components/user/UserPlayerInfo.tsx
  apps/bball/components/user/UserPlayerJerseyInfo.tsx
  apps/bball/components/user/UserPlayerSeasonInfo.tsx
  apps/bball/package.json
  apps/bball/utils/extractYoutubeLink.ts
  apps/bball/utils/isLiveGame.tsx
  apps/bball/validation/player-validations.ts
  package-lock.json
Labels: bug, bball, p1-important

#324 stats@0.1.0
  .vscode/settings.json
  apps/stats/.eslintrc.js
  apps/stats/.gitignore
  apps/stats/README.md
  apps/stats/app/favicon.ico
  apps/stats/app/globals.css
  apps/stats/app/layout.tsx
  apps/stats/app/page.tsx
  apps/stats/next-env.d.ts
  apps/stats/next.config.js
  apps/stats/package.json
  apps/stats/postcss.config.js
  apps/stats/robots.ts
  apps/stats/tailwind.config.ts
  apps/stats/tsconfig.json
  package-lock.json
  package.json
Labels: enhancement, stats

#325 join team registration quick fix
  apps/bball/app/api/webhook/route.ts
  apps/bball/app/register/join-team/[id]/page.tsx
  apps/bball/package.json
  package-lock.json
Labels: bug, bball, p1-important

#326 add `jerseyNumber` to `/summary` / `/preview` pages; POTG homepage fix; remove `uppercase` from user info
  apps/bball/components/games/preview/PreviewMatchup.tsx
  apps/bball/components/games/summary/SummaryBoxScore.tsx
  apps/bball/components/home/HomePlayersOfTheWeek.tsx
  apps/bball/components/user/UserPlayerInfo.tsx
  package-lock.json
Labels: bug, bball, p2-nice-to-have

#328 bball@1.3.8
  apps/bball/components/games/preview/PreviewMatchup.tsx
  apps/bball/components/games/summary/SummaryBoxScore.tsx
  apps/bball/components/home/HomePlayersOfTheWeek.tsx
  apps/bball/components/user/UserPlayerInfo.tsx
  apps/bball/package.json
  package-lock.json
Labels: bug, enhancement, bball, p2-nice-to-have
