Repository riseupleague/riseupleague, pull requests merged in 2024-02, with the labels that each got.

#214 connectToDatabase once in homepage
  apps/bball/app/page.tsx
  apps/bball/components/home/HomeLeaders.tsx
  apps/bball/components/home/HomePlayersOfTheWeek.tsx
  apps/bball/components/structure/header/SecondaryHeader.tsx
Labels: enhancement

#216 stripe checkout session fix
  apps/bball/api-helpers/controllers/games-controller.ts
  apps/bball/app/api/checkout-sessions/route.ts
  apps/bball/components/home/HomePlayersOfTheWeek.tsx
Labels: bug

#217 v1.1.7
  apps/bball/api-helpers/controllers/games-controller.ts
  apps/bball/app/api/checkout-sessions/route.ts
  apps/bball/components/home/HomePlayersOfTheWeek.tsx
Labels: bug, bball

#221 POTG in `/summary/[id]` page; DNP stat
  apps/bball/api-helpers/controllers/games-controller.ts
  apps/bball/api-helpers/controllers/players-controller.ts
  apps/bball/app/api/checkout-sessions/route.ts
  apps/bball/app/api/update-team-schedule/route.ts
  apps/bball/components/games/summary/SummaryBoxScore.tsx
  apps/bball/components/home/HomePlayersOfTheWeek.tsx
  apps/bball/components/user/UserProfile.tsx
  apps/bball/package.json
  package-lock.json
  package.json
Labels: enhancement, bball, p2-nice-to-have

#222 v1.1.8
  apps/bball/api-helpers/controllers/games-controller.ts
  apps/bball/api-helpers/controllers/players-controller.ts
  apps/bball/app/api/checkout-sessions/route.ts
  apps/bball/app/api/update-team-schedule/route.ts
  apps/bball/components/games/summary/SummaryBoxScore.tsx
  apps/bball/components/home/HomePlayersOfTheWeek.tsx
  apps/bball/components/user/UserProfile.tsx
  apps/bball/package.json
  package-lock.json
  package.json
Labels: enhancement, bball, p2-nice-to-have

#223 summary potg fix; live game indicators added
  apps/bball/app/games/summary/[id]/page.tsx
  apps/bball/components/games/ScheduleCard.tsx
  apps/bball/components/games/summary/SummaryBoxScore.tsx
  apps/bball/components/games/summary/SummaryPOTG.tsx
  apps/bball/components/structure/header/FutureGame.tsx
  apps/bball/components/structure/header/FutureGames.tsx
  apps/bball/package.json
  package-lock.json
  package.json
Labels: bug, enhancement, bball, p1-important

#224 v1.1.9
  apps/bball/api-helpers/controllers/games-controller.ts
  apps/bball/app/games/summary/[id]/page.tsx
  apps/bball/components/games/ScheduleCard.tsx
  apps/bball/components/games/summary/SummaryBoxScore.tsx
  apps/bball/components/games/summary/SummaryPOTG.tsx
  apps/bball/components/structure/header/FutureGame.tsx
  apps/bball/components/structure/header/FutureGames.tsx
  apps/bball/package.json
  package-lock.json
  package.json
Labels: bug, enhancement, bball, p1-important

#234 header redesign
  apps/admin/app/seasons-management/loading.tsx
  apps/bball/app/(footer)/league-rules/page.tsx
  apps/bball/app/layout.tsx
  apps/bball/app/leaders/mvp-ladder/loading.tsx
  apps/bball/app/leaders/mvp-ladder/page.tsx
  apps/bball/app/not-found.tsx
  apps/bball/components/general/FeaturedPlayerCard.tsx
  apps/bball/components/home/HomeMVPLadder.tsx
  apps/bball/components/icons/HomeIcon.tsx
  apps/bball/components/icons/LeftChevronIcon.tsx
  apps/bball/components/login/Login.tsx
  apps/bball/components/skeleton/MVPLadderSkeleton.tsx
  apps/bball/components/structure/header/MiddleNav.tsx
  apps/bball/components/structure/header/MobileBottomNav.tsx
  apps/bball/components/structure/header/PrimaryHeader.tsx
  apps/bball/components/structure/header/SideNav.tsx
  apps/bball/lib/data/footerOptions.ts
  apps/bball/lib/fonts/AbolitionTest-Regular.otf
  apps/bball/package.json
  package-lock.json
  packages/ui/components/ui/navigation-menu.tsx
  packages/ui/package.json
  packages/ui/tailwind.config.ts
Labels: enhancement, bball, design, p2-nice-to-have

#236 register flow updates
  apps/bball/components/register/create-team/CreateTeamDetails.tsx
  apps/bball/components/register/create-team/CreateTeamSummary.tsx
  apps/bball/components/register/create-team/CustomizeTeam.tsx
Labels: enhancement, bball

#237 registration design fixes
  apps/bball/app/choose-team-schedule/page.tsx
  apps/bball/app/jersey/page.tsx
  apps/bball/app/register/create-team/[id]/page.tsx
  apps/bball/app/register/create-team/page.tsx
  apps/bball/app/register/join-team/page.tsx
  apps/bball/app/register/page.tsx
  apps/bball/app/schedule/page.tsx
  apps/bball/components/filters/FilterByDate.tsx
  apps/bball/components/games/CalendarGames.tsx
  apps/bball/components/games/NewSchedule.tsx
  apps/bball/components/games/ScheduleCard.tsx
  apps/bball/components/games/ScheduleFilterPage.tsx
  apps/bball/components/icons/CalendarRegisterIcon.tsx
  apps/bball/components/icons/ClockIcon.tsx
  apps/bball/components/icons/LocationIcon.tsx
  apps/bball/components/register/CreateYourTeam.tsx
  apps/bball/components/register/FreeAgentsRegistration.tsx
  apps/bball/components/register/create-team/CreateTeamDetails.tsx
  apps/bball/components/register/create-team/CreateTeamSummary.tsx
  apps/bball/components/register/create-team/CustomizeTeam.tsx
  apps/bball/components/register/custom-jersey/ClassicJersey.tsx
  apps/bball/components/register/custom-jersey/CustomizeJersey.tsx
  apps/bball/components/register/custom-jersey/JerseySelection.tsx
  apps/bball/components/register/custom-jersey/OriginalJersey.tsx
  apps/bball/components/register/custom-jersey/RetroJersey.tsx
  apps/bball/components/register/join-team/ChooseTeam.tsx
  apps/bball/components/register/join-team/JoinTeamCode.tsx
  apps/bball/lib/data/footerOptions.ts
  apps/bball/lib/data/home/heroSlides.ts
  apps/bball/utils/convertMilitaryToRegularTime.ts
  package-lock.json
  packages/ui/components/ui/button.tsx
  packages/ui/components/ui/calendar.tsx
  packages/ui/package.json
Labels: enhancement, bball

#239 fix(bball): fix img URL path for create team
  apps/bball/app/register/page.tsx
  apps/bball/package.json
  package-lock.json
Labels: bug, bball, p0-urgent

#241 Danny
  apps/bball/components/register/CreateYourTeam.tsx
Labels: bug, bball, p2-nice-to-have

#242 chore(bball): bball@1.2.3
  apps/bball/package.json
  package-lock.json
Labels: bball, p2-nice-to-have

#243 fix(bball): enable input boxes for custom jersey modification
  apps/bball/components/home/HomePlayersOfTheWeek.tsx
  apps/bball/components/user/UserProfile.tsx
  apps/bball/lib/data/home/heroSlides.ts
  apps/bball/package.json
  package-lock.json
Labels: enhancement, bball, p1-important

#253 bball@1.2.4
  apps/bball/app/page.tsx
  apps/bball/components/general/FeaturedPlayerCard.tsx
  apps/bball/components/general/PlayerOfTheGameCard.tsx
  apps/bball/components/home/HomePlayersOfTheWeek.tsx
  apps/bball/components/register/join-team/JoinTeamSummary.tsx
  apps/bball/components/user/UserProfile.tsx
  apps/bball/lib/data/home/heroSlides.ts
  apps/bball/package.json
  apps/bball/public/images/home/early-bird.jpg
  package-lock.json
Labels: enhancement, bball, p2-nice-to-have

#255 fix(bball): hide division times hotfix
  apps/bball/components/register/CreateYourTeam.tsx
  apps/bball/components/register/create-team/CreateTeamSummary.tsx
  apps/bball/package.json
Labels: bball, p1-important
